@import 'tailwindcss';
@import 'tw-animate-css';
@import 'keen-slider/keen-slider.min.css';

@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-work: var(--font-work-sans);
  --font-figtree: var(--font-figtree);
  --font-noto: var(--font-noto);


  --color-accent-primary-50: var(--accent-primary-50);
  --color-accent-primary-100: var(--accent-primary-100);
  --color-accent-primary-200: var(--accent-primary-200);
  --color-accent-primary-300: var(--accent-primary-300);
  --color-accent-primary-400: var(--accent-primary-400);
  --color-accent-primary-500: var(--accent-primary-500);
  --color-accent-primary-600: var(--accent-primary-600);
  --color-accent-primary-700: var(--accent-primary-700);
  --color-accent-primary-800: var(--accent-primary-800);
  --color-accent-primary-900: var(--accent-primary-900);
  --color-accent-primary-950: var(--accent-primary-950);

  --animate-slide: slide 5s linear infinite;
  --animate-bounce-slow: bounce-slow 2s infinite;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --accent-primary-50: #fffbec;
  --accent-primary-100: #fff6d3;
  --accent-primary-200: #ffeaa5;
  --accent-primary-300: #ffd86d;
  --accent-primary-400: #ffbb32;
  --accent-primary-500: #ffa40a;
  --accent-primary-600: #ff8c00;
  --accent-primary-700: #cc6702;
  --accent-primary-800: #a14f0b;
  --accent-primary-900: #82420c;
  --accent-primary-950: #462004;

  --radius: 0.625rem;
  --background: oklch(96.416% 0.00011 271.152);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --accent-primary-50: #f8ffe4;
  --accent-primary-100: #efffc4;
  --accent-primary-200: #dfff90;
  --accent-primary-300: #c6ff50;
  --accent-primary-400: #a3ff00;
  --accent-primary-500: #8de600;
  --accent-primary-600: #6cb800;
  --accent-primary-700: #518b00;
  --accent-primary-800: #426d07;
  --accent-primary-900: #385c0b;
  --accent-primary-950: #1b3400;

  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes bounce-slow {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: oklch(0.704 0.04 256.788);
  border-radius: 8px;
  border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(0.554 0.046 257.417);
}

/* スクロールバー(ダーク) */
.dark ::-webkit-scrollbar-track {
  background: var(--background);
}

.dark ::-webkit-scrollbar-thumb {
  background: oklch(0.279 0.041 260.031);
  border: 2px solid var(--background);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: oklch(0.551 0.027 264.364);
}

.carousel-container {
  position: relative; /* ナビゲーションボタンのabsolute配置の基準 */
}

.keen-slider {
  /* カルーセル全体のスタイルを追加 */
}

.keen-slider__slide {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
  font-weight: 500;
  min-height: 250px;
  overflow: hidden;
  border-radius: 8px;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  z-index: 10; /* スライドより手前に表示 */
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5)); /* 見やすくする影 */
}

.arrow--left {
  left: 10px;
}

.arrow--right {
  left: auto;
  right: 10px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.3);
  cursor: default;
}

/*目次*/
.toc-list {
  list-style-type: none;
}

.toc-link {
  padding: 0 0 0 0.5rem;
  border-left: 2px solid var(--color-border);
  color: inherit;
  text-decoration: none;
}

.toc-link:hover {
  color: #666;
}

.is-active-link {
  font-weight: 700;
  border-left: 2px solid var(--color-primary);
}

/* Terminal & Window Colors */
@theme inline {
  --color-macos-close: var(--macos-close);
  --color-macos-minimize: var(--macos-minimize);
  --color-macos-zoom: var(--macos-zoom);
  --color-macos-actionbutton-inactive: var(--macos-actionbutton-inactive);

  --color-macos-titlebar: var(--macos-titlebar);
  --color-macos-titlebar-inactive: var(--macos-titlebar-inactive);

  --color-macos-window-border: var(--macos-window-border);
  --color-macos-window-border-inactive: var(--macos-window-border-inactive);

  --color-macos-title-text: var(--macos-title-text);
  --color-macos-title-text-inactive: var(--macos-title-text-inactive);

  --color-terminal-background: var(--terminal-background);
  --color-terminal-black: var(--terminal-black);
  --color-terminal-gray: var(--terminal-gray);
  --color-terminal-red: var(--terminal-red);
  --color-terminal-green: var(--terminal-green);
  --color-terminal-yellow: var(--terminal-yellow);
  --color-terminal-blue: var(--terminal-blue);
  --color-terminal-magenta: var(--terminal-magenta);
  --color-terminal-cyan: var(--terminal-cyan);
  --color-terminal-white: var(--terminal-white);
}

:root {
  --macos-close: #ff5f57;
  --macos-minimize: #febc2e;
  --macos-zoom: #28c840;
  --macos-actionbutton-inactive: rgb(90, 90, 90);
}

:root {
  --macos-titlebar: rgb(251 251 251);
  --macos-titlebar-inactive: rgb(238 238 238);

  --macos-window-border: rgb(200 200 200);
  --macos-window-border-inactive: rgb(200 200 200);

  --macos-title-text: rgb(0 0 0);
  --macos-title-text-inactive: rgb(60 60 67);

  --terminal-background: rgb(255, 255, 255);
  --terminal-black: rgb(0 0 0);
  /* #000000 */
  --terminal-gray: rgb(128 128 128);
  /* #808080 */
  --terminal-red: rgb(153 0 0);
  /* #990000 */
  --terminal-green: rgb(0, 220, 0);
  /* #00A600 */
  --terminal-yellow: rgb(153 153 0);
  /* #999900 */
  --terminal-blue: rgb(0 0 178);
  /* #0000B2 */
  --terminal-magenta: rgb(178 0 178);
  /* #B200B2 */
  --terminal-cyan: rgb(0 166 178);
  /* #00A6B2 */
  --terminal-white: rgb(191 191 191);
  /* #BFBFBF */
}

:root.dark {
  --macos-titlebar: rgb(64 64 64);
  --macos-titlebar-inactive: rgb(58 58 58);

  --macos-window-border: rgb(80 80 80);
  --macos-window-border-inactive: rgb(44 44 44);

  --macos-title-text: rgb(255 255 255);
  --macos-title-text-inactive: rgb(235 235 245);

  --terminal-background: rgb(28, 28, 28);
  --terminal-black: rgb(128 128 128);
  /* #808080 */
  --terminal-gray: rgb(140, 140, 140);
  --terminal-red: rgb(255 0 0);
  /* #FF0000 */
  --terminal-green: rgb(0 255 0);
  /* #00FF00 */
  --terminal-yellow: rgb(255 255 0);
  /* #FFFF00 */
  --terminal-blue: rgb(47, 47, 255);
  /* #0000FF */
  --terminal-magenta: rgb(255 0 255);
  /* #FF00FF */
  --terminal-cyan: rgb(0 255 255);
  /* #00FFFF */
  --terminal-white: rgb(255 255 255);
  /* #FFFFFF */
}

@media (prefers-color-scheme: dark) {
  :root {
    --macos-titlebar: rgb(64 64 64);
    --macos-titlebar-inactive: rgb(58 58 58);

    --macos-window-border: rgb(80 80 80);
    --macos-window-border-inactive: rgb(44 44 44);

    --macos-title-text: rgb(255 255 255);
    --macos-title-text-inactive: rgb(235 235 245);

    --terminal-background: rgb(28, 28, 28);
    --terminal-black: rgb(128 128 128);
    /* #808080 */
    --terminal-gray: rgb(140, 140, 140);
    --terminal-red: rgb(255 0 0);
    /* #FF0000 */
    --terminal-green: rgb(0 255 0);
    /* #00FF00 */
    --terminal-yellow: rgb(255 255 0);
    /* #FFFF00 */
    --terminal-blue: rgb(47, 47, 255);
    /* #0000FF */
    --terminal-magenta: rgb(255 0 255);
    /* #FF00FF */
    --terminal-cyan: rgb(0 255 255);
    /* #00FFFF */
    --terminal-white: rgb(255 255 255);
    /* #FFFFFF */
  }
}
